
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Factorio Status Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/lib/admin-lte/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/admin-lte/node_modules/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/lib/admin-lte/node_modules/ionicons/dist/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/lib/admin-lte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/lib/admin-lte/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">{{ server.name }}</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Connect to this server</h3>
                            </div>
                            <div class="box-body">
                                {% if server.config and not server.config.visibility_public %}
                                    <div class="alert alert-warning">
                                        <h4><i class="icon fa fa-warning"></i> Local network only</h4>
                                        This server is only available on the local network.
                                        Make sure you are on the same network as this server
                                        before trying to connect.
                                    </div>
                                {% endif %}

                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>Host</th>
                                        <td class="monospace">{{ server.ip }}:{{ server.port }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Players</h3>
                            </div>
                            <div class="box-body">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Online</th>
                                        <th>Admin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for player in server.players %}
                                        <tr>
                                            <td>{{ player.username }}</td>
                                            <td>
                                                {% if player.is_online %}
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                {% endif %}
                                            </td>
                                            <td>{{ player.is_admin }}TBA</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">No players</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="box box-warning collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Configuration</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Option</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for k, v in server.config.as_dict().items() %}
                                        <tr>
                                            <td class="monospace">{{ k }}</td>
                                            <td>
                                                {% if k == "password" and not config.SHOW_PASSWORD %}
                                                    <em>[hidden]</em>
                                                {% elif v == true %}
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                {% elif v == false %}
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                {% else %}
                                                    {{ v }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mods</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-primary btn-social btn-sm"><i class="fa fa-download"></i>Download all mods</button>
                                </div>
                            </div>
                            <div class="box-body">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Version</th>
                                        <th>Downloads</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for mod in server.mods %}
                                        {% set mod_data = get_mod_data(mod.name) %}
                                        <tr>
                                            {% if mod_data %}
                                                <td>
                                                    <a
                                                            href="https://mods.factorio.com/mods/{{ mod_data.owner }}/{{ mod_data.name }}"
                                                            target="_blank"
                                                            data-toggle="tooltip"
                                                            data-placement="left"
                                                            title="{{ mod_data.summary }}"
                                                    >
                                                        {{ mod.name }}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>{{ mod.name }}</td>
                                            {% endif %}
                                            <td>{{ mod.version or '-' }}</td>
                                            <td>
                                                {% if mod_data.downloads_count %}
                                                    {{ "{:,.0f}".format(mod_data.downloads_count) }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if mod.file %}
                                                    <a href="/mods/download/{{ mod.file.name }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </div>
        <!-- /.container -->
    </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/lib/admin-lte/node_modules/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/lib/admin-lte/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/lib/admin-lte/dist/js/adminlte.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
